@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    display: flex;
    background: black;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper {
    position: relative;
    width: 90%;
    max-width: 1150px;
    height: 80vh;
    max-height: 550px;
    padding: 0 38px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper-wraper{
    display: flex;
    align-items: center;
  }
  .swiper-slide{
    background: linear-gradient(
        to top, #9999990D, #FFFFFF0D
    );
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: solid 2px #FFFFFF1A;
    max-height: 400px;
    flex-direction: column;
  }

  .card-avatar-img {
    width: 120px;
    height: 120px;
    border: solid 2px #FFFFFF1A;
    border-radius: 50%;
    padding: 8px;
    background: #00000040;
    margin-bottom: 16px; 
  }

  .card-role-txt{
    font-weight: normal;
    margin-bottom: 24px;
    color: #FFFFFFB3;
  }

  .card-follow-btn{
    background: #007BFF;
    padding: 8px 50px;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
  }

  .card-follow-btn:hover{
    background: #006FDB;
  }
  .card-follow-btn:active {
    background: #0057B0; 
    transform: scale(0.95); 
}
  .swipper-button-prev,
  .swipper-button-next{
    color: #FFFFFFB3;
    transform: scale(0.7);
    transition: 0.25s;
    position: absolute;
  }

  .swipper-button-prev:hover,
  .swipper-button-next:hover{
    color: white;
  }
  .swiper-button-prev{
    left: 0;
    top: 35%;
  }
  .swiper-button-next{
    right: 0;
    top: 35%;
  }

  .swiper-pagination-bullet{
    background: white;
    width: 15px;
    height: 15px;
  }
  @media screen and (max-width: 768px) {
    .swiper {
        width: 100%;
    }
    .swipper-button-prev,
    .swipper-button-next {
        display: none;
    }
  }
