@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s linear;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
    padding: 0.9%;
}
.heading{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: center;
    color: #333;
}
.header_underline{
    height: 3px;
    width: 100px;
    margin: 1rem auto;
    background-color: #007BFF;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 20px;
}
.card{
    width: 400px;
    height: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
}
.card img{
    height: 80px;
}
.card h3{
    color: #444;
    padding: 10px 0;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.card p{
    color: #acacac;
    font-size: 13px;
    text-align: justify;
}
.btn{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    font-size: 17px;
    background-color: #007BFF;
    padding: 8px 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.5s;
}
.btn:hover{
    letter-spacing: 1px;
}
.card:hover{
    transform: scale(1.04);
    box-shadow: 0px 5px 10px rgba(0,0,0,0 0.1);
}
@media (max-width: 770px){
    .wrapper{
        padding: 20px;
    }
}
